@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url('../fonts/Montserrat-Medium.ttf')
};

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url('../fonts/Montserrat-SemiBold.ttf')
};

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url('../fonts/Montserrat-Bold.ttf')
};